@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello There Admin</h1>
</div>

<div class="text-center">
    <br>
    <br>
    <a href="/itemmanager/select">Item Manager</a>
    <br>
    <br>
    <a href="/pizzamanager/select">Pizza Manager</a>
</div>

<div class="text-center">
    <br>
    <a href="/locationmanager/select">Location Manager</a>
</div>
