<div class="text-center">
    <a href="/crust/create">New Crust</a>
    <br>
    <br>
    <a href="/size/create">New Size</a>
    <br>
    <br>
    <a href="/topping/create">New Topping</a>

    <br>
    <br>
    <br>

    <a href="/crust/read">View Crusts</a>
    <br>
    <br>
    <a href="/size/read">View Sizes</a>
    <br>
    <br>
    <a href="/topping/read">View Toppings</a>
</div>