@model PizzaBox.Domain.Models.Pizza

<form action="/pizza/create" method="post">

        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Pizza Name">

    <button type="submit">Next -></button>
</form>